.ui-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
/*
#ui-box div {
    margin: 1em;
}*/

#activities-input {
    display: flex;
    flex-direction: column;
}

#activities-input textarea, #activities-input button {
    margin: 1em;
}

html {
    font-family: Arial;
    background: #e7eaf6;
}


#main-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#activities-input-list, #activities-input-with-save {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.daterange-custom {
    display: flex;
    flex-direction: row;
    border: 2px solid #a2a8d3;
    border-radius: 20px;
    margin: 1em;
}

.daterange {
    display: flex;
    flex-direction: row;
    border: 2px solid #a2a8d3;
    border-radius: 20px;
    margin: 1em;
    align-items: center;
    justify-content: center;
}

.daterange.select {
    text-decoration: underline dotted #38598b 1px;
}

.hidden {
    display: none;
}

.daterange:hover {
    background-color: #38598b;
    color: white;
    cursor: pointer;
}

:not(.editor-toolbar) > button {
    background: none;
    border: 2px solid #a2a8d3;
    border-radius: 20px;
    margin: 1em;
    padding: 1em;
}

:not(.editor-toolbar) > button:hover {
    background-color: #38598b;
    color: white;
    cursor: pointer;
}

.daterange > *, .daterange-custom > * {
    margin: 1em;
}

.badge-kw {
    border: 5px solid #a2a8d3;
    border-radius: 20px;
    padding: 0.5em;
}

#input-custom-kw {
    margin: 1em;
}

#activities-edit {
    background: none;
}

.EasyMDEContainer .CodeMirror {
    background: inherit;
    color: inherit;
}

#current-day {
    display: flex;
    flex-direction: row;
    border: 5px solid #a2a8d3;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

#current-day:hover {
    background-color: #38598b;
    color: white;
    cursor: pointer;
}

#current-day * {
    margin: 0.5em;
    padding: 0.5em;
}