#ui-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#activities-input {
    display: flex;
    flex-direction: column;
}

#activities-input * {
    margin: 1em;
}